.cardContainer {
  border: 0.2px solid rgba(255, 255, 255, 0.205);
  border-radius: 3px;
  width: 280px;
  height: 450px;
  margin: 20px;
  background-color: rgb(40, 49, 68);
  transition: transform 0.5s;
}

.cardContainer:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px #fcb023e7;
  border: 1px solid #fca400;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 70%;
}

.imgContainer > img {
  height: 300px;
}

.propsContainer {
  height: 30%;
  text-align: center;
}
