body {
  margin: 0;
  font-family: 'Electrolize', sans-serif;
  background-color: rgb(27, 32, 44);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
